<% include partials/header.ejs %>
        <h1><%= title %> </h1>
        <ul>
            <% for (var i = 0; i < users.length; i++) { %>
                <li><%= users[i] %></li>
            <% } %>
        </ul>
        <div><p>Hello World!</p></div>
<% include partials/footer.ejs %>